body{
  background-color: #223378;
  font: sans-serif;
  color: #ffffff;
}

.tb-text{
  color: #ffffff;
  text-align: center;
}

.form-row{
  padding: 40px;
  align-content: center;
}

.top-head{
  text-align: center;
  font-size: 100px;
}